.ReactCollapse {
    width: 100%;
    margin: 0;
    padding: 10px;
    display: block;
    box-sizing: border-box;

    // collapsed state
    &.collapsed {
        // up arrow
        .ReactCollapseHeading:after {
            border-width: 0 5px 5px 5px;
            border-color: transparent transparent #458900 transparent;
        }

        .ReactCollapseSlides {
            display: block;
        }
    }

    .ReactCollapseHeading {
        position: relative;
        margin: 0;
        padding: 15px 20px;
        display: block;
        background-image: linear-gradient(to right, #ebe9d2, #e2e0c7, #d9d8bb, #d0cfb0, #c7c7a5);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        font-family: Verdana;
        font-size: 13px;
        line-height: 13px;
        font-weight: bold;
        color: #000000;
        cursor: pointer;

        // down arrow
        &:after {
            position: absolute;
            top: 18px;
            right: 20px;
            width: 0;
            height: 0;
            border-width: 5px 5px 0 5px;
            border-style: solid;
            border-color: #458900 transparent transparent transparent;
            content: '';
        }
    }

    .ReactCollapseSlides {
        margin: 0;
        padding: 0;
        display: none;
        background-color: #ffffff;

        .ReactCollapseSlide {
            margin: 0;
            padding: 15px 30px;
            overflow: hidden;
            display: none;
            border-bottom: 1px solid #E6E7DF;
            border-left: 1px solid #E6E7DF;
            border-right: 1px solid #E6E7DF;

            &.active {
                display: block;
            }

            .ReactCollapseSlideImage {
                width: 20%;
                min-width: 100px;
                max-width: 300px;
                height: auto;
                margin: 0 30px 0 0;
                padding: 0;
                float: left;
            }

            .ReactCollapseSlideDescription {
                margin: 0;
                padding: 0;
                display: block;
                font-family: Verdana;
                font-size: 12px;
                line-height: 14px;
                font-weight: normal;
                color: #000000;
            }
        }

        .ReactCollapseSlideNav {
            width: 100%;
            display: table;
            border-bottom: 1px solid #E6E7DF;
            border-left: 1px solid #E6E7DF;
            border-right: 1px solid #E6E7DF;
            box-sizing: border-box;

            .ReactCollapseSlideNavPrevious,
            .ReactCollapseSlideNavNext {
                position: relative;
                width: 50%;
                margin: 0;
                padding-top: 15px;
                padding-bottom: 15px;
                display: table-cell;
                vertical-align: middle;
                font-family: Verdana;
                font-size: 12px;
                line-height: 12px;
                font-weight: normal;
                color: #588E1C;
                text-decoration: underline;
                cursor: pointer;

                // triangles
                &:before {
                    position: absolute;
                    top: 28%;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    content: '';
                }
            }

            .ReactCollapseSlideNavPrevious {
                padding-left: 60px;

                // left triangle
                &:before {
                    left: 30px;
                    border-width: 10px 10px 10px 0;
                    border-color: transparent #458900 transparent transparent;
                }
            }

            .ReactCollapseSlideNavNext {
                padding-right: 60px;
                text-align: right;

                &:before {
                    right: 30px;
                    border-width: 10px 0 10px 10px;
                    border-color: transparent transparent transparent #458900;
                }
            }
        }
    }
}