.ReactCollapse {
  width: 100%;
  margin: 0;
  padding: 10px;
  display: block;
  box-sizing: border-box; }
  .ReactCollapse .ReactCollapseHeading {
    margin: 0;
    padding: 15px 20px;
    display: block;
    background-image: linear-gradient(to right, #ebe9d2, #e2e0c7, #d9d8bb, #d0cfb0, #c7c7a5);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-family: Verdana;
    font-size: 13px;
    line-height: 13px;
    font-weight: bold;
    color: #000000; }
  .ReactCollapse .ReactCollapseSlides {
    margin: 0;
    padding: 0;
    display: block;
    background-color: #ffffff; }
    .ReactCollapse .ReactCollapseSlides .ReactCollapseSlide {
      margin: 0;
      padding: 15px 30px;
      display: none; }
